@model List<EmpleadoModel>
@{
    ViewData["Title"] = "LISTA EMPLEADOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow-lg border-0 rounded" style="width: 100%;">
    <div class="card-header bg-primary text-white text-center">
        <h4 class="mb-0">Lista de Empleados</h4>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h5 class="card-title">Empleados Registrados</h5>
            <div class="d-flex flex-column">
                <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success mb-2" style="height: 38px;">
                    <i class="fas fa-plus-circle"><i class="bi bi-person-add"></i></i> Crear nuevo Empleado
                </a>
                <div class="d-flex">
                    <form asp-action="Filtrar" asp-controller="Mantenedor" method="post">
                        <div class="d-flex">
                            <input type="text" class="form-control me-2" name="filtroEmpleado" style="height: 38px;" placeholder="Filtrar empleado">
                            <button type="submit" class="btn btn-dark" style="height: 38px;">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr />
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Identidad</th>
                    <th class="text-center">ID puesto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.IDENTIDAD</td>
                        <td>@item.IdPuesto</td>
                        <td class="text-center">
                            <a asp-action="Editar" asp-route-id="@item.Id" asp-controller="Mantenedor" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"><i class="bi bi-gear-fill"></i></i> Editar
                            </a>
                            <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"><i class="bi bi-exclamation-triangle-fill"></i></i> Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


